<div class="container">
  <h1>Todo App</h1>

 <p class="demo-info">
  Ez egy publikus demo lista. A feladatokat bárki módosíthatja, az adatok naponta törlődnek.
</p>

  @if (errorMessage){
  <p class="error-message">{{ errorMessage }}</p>
  }
  <div class="form">
    <input type="text" placeholder="Új feladat" [(ngModel)]="newTodo">

   <button class="add-button" (click)="addTodo()" [disabled]="isLoading">
  @if (isLoading) {
    Mentés...
  } @else {
    Hozzáadás
  }
</button>
  </div>

  @if (todos.length === 0) {
  <p class="empty-message">Nincs még feladat.</p>
  } @else {
  <ul class="todo-list">
    @for (todo of todos; track $index) {
    <li class="todo-item">
      <span class="todo-text" [class.completed]="todo.completed">
        {{ todo.text }}
      </span>

      <button (click)="toggleTodo($index)">
        @if (todo.completed) {
        Vissza
        } @else {
        Kész
        }
      </button>

      <button (click)="deleteTodo($index)">
        Törlés
      </button>
    </li>
    }
  </ul>
  }
  <p class="footer-credit">
  © 2026 Ágoston Gergő · Made with Angular & Supabase
</p>
</div>